---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

// console.log(Astro.site);
// console.log(Astro.url);
// console.log(Astro.url.pathname);
// console.log(Astro.url.origin);
---

<Layout>

	<Navigation />

	<h1>Shopify Headless Storefront Test</h1>

</Layout>